@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.cont-general {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 8vh;
  width: 100%;
  background-color: green;
  margin: 0;
  padding: 0px;
  font-family: 'Montserrat', sans-serif;
}

/* ICONO */
.cont1 {
  width: 50%;
  display: flex;
  justify-content: flex-start;
  margin-left: 4%;
}

img {
  width: 60px;
  height: 100%;
}

/* NAVBAR */
.cont2 {
  min-width: 50%;
  height: 10vh;
  display: flex;
  align-items: center;
  margin-right: 6%;
  gap: 10px;
  justify-content: space-around;
}

.cont2 li {
  width: 25%;
  text-align: center;
  list-style-type: none;

}

.cont2 a {
  color: white;
  text-decoration: none;
  display: block;
  width: 80%;
  background-color: black;
  padding: 5px;
  border-radius: 10px;

}

.cont2 a:hover {
  background-color: lightgreen;
  color: black;
}

/* -----------LANDING ---------- */

.landing {
  display: flex;
  background-color: rgb(7, 7, 7);
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  height: 92vh;
}

.speech {
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  color: white;
  text-align: center;
}

.speech h1 {
  margin: 20px;
}

.imagen {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-width: 50%;
}

.imagen img {
  width: 30%;
  height: auto;
  border-radius: 5%;
}


.Proyectos {
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
  background-color: green;
}

.cards {
  width: 35vh;
  border: 2px solid black;
  color: white;
  margin: 15px;
  height: 250px;
  border-radius: 10%;
}

.cards h2 {
  margin: 15px
}

.cards p {
  margin: 15px;
}